<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
</head>
<body>
    <h1>Editar Usuário</h1>
    <form action="{{ url_for('update_user', user_id=animais[0]) }}" method="post">
        <!-- Dados do Nome -->
        <label for="nome_dono">Nome dono:</label>
        <input type="text" name="nome_dono" value="{{ user[1] }}" required>
        
        <!-- Dados do Email -->
        <label for="email_dono">Email:</label>
        <input type="email" name="email_dono" value="{{ user[2] }}" required>

        <!-- Dados do cpf -->
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" value="{{ user[3] }}" required>
        
        <!-- Dados do endereco -->
        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" value="{{ user[4] }}" required>

        <!-- Dados do telefone -->
        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone" value="{{ user[5] }}" required>
        
        <!-- Dados do nome_animal -->
        <label for="nome_animal">Nome animal:</label>
        <input type="text" name="nome_animal" value="{{ user[6] }}" required>

        <!-- Dados do tipo_animal -->
        <label for="tipo_animal">Tipo animal:</label>
        <input type="text" name="tipo_animal" value="{{ user[7] }}" required>
        
        <!-- Dados do sexo_animal -->
        <label for="sexo_animal">Sexo animal:</label>
        <input type="text" name="sexo_animal" value="{{ user[8] }}" required>

        <button type="submit">Atualizar</button>
    </form>
</body>
</html>
