<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Example</title>
</head>
<body>
    <h1>Usuários</h1>
    <ul>
        {% for animal in animais %}
            <li>
                {{ animal[1] }} - {{ animal[2] }} - {{ animal[3] }} - {{ animal[4] }} - {{ animal[5] }} - {{ animal[6] }} - {{ animal[7] }} - {{ animal[8] }}
                <a href="{{ url_for('edit_user', user_id=animal[0]) }}">Editar</a>
                <a href="{{ url_for('delete_user', user_id=animal[0]) }}">Excluir</a>
            </li>
        {% endfor %}
    </ul>
    

    <h2>Adicionar Usuário</h2>
    <form action="/add" method="post">
        
        <!-- Dados do Nome -->
        <label for="nome_dono">Nome dono:</label>
        <input type="text" name="nome_dono" required>
        
        <!-- Dados do Email -->
        <label for="email_dono">Email:</label>
        <input type="email" name="email_dono" required>

        <!-- Dados do cpf -->
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" required>
        
        <!-- Dados do endereco -->
        <label for="endereco">Endereço:</label>
        <input type="text" name="endereco" required>

        <!-- Dados do telefone -->
        <label for="telefone">Telefone:</label>
        <input type="text" name="telefone" required>
        
        <!-- Dados do nome_animal -->
        <label for="nome_animal">Nome animal:</label>
        <input type="text" name="nome_animal" required>

        <!-- Dados do tipo_animal -->
        <label for="tipo_animal">Tipo animal:</label>
        <input type="text" name="tipo_animal" required>
        
        <!-- Dados do sexo_animal -->
        <label for="sexo_animal">Sexo animal:</label>
        <input type="text" name="sexo_animal" required>

        <!-- Botao adicionar -->
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>
